/*
  1. drag 방지는 "user-select: none;"
  2. ::before, ::after
  3.
  body {
    min-height:100vh;
    ...
  }
*/

@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

$headerHeight: 100px;
$contentWidth: 70%;
$articlePaddingTopBottom: 20px;

%btn {
  all: unset;
  width: 144px;
  text-align: center;
  padding: 12px 0;
  font-size: 18px;
  border: 0.3px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  header {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 0.3px solid black;
    nav {
      width: 100%;
      height: 100%;
      display: flex;
      .sidebar {
        width: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        i {
          font-size: 36px;
        }
      }
      .menu-panel {
        width: 95%;
        display: flex;
        justify-content: space-between;
        user-select: none;
        span {
          font-size: 56px;
          font-weight: 600;
          letter-spacing: -2px;
          line-height: 100px;
          cursor: pointer;
          transform: scaleX(0.7);
          &:last-child {
            margin-right: 90px;
          }
        }
      }
    }
  }
  main {
    width: $contentWidth;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 80px;
    .cover {
      width: 100%;
      min-height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 150px;
      img {
        width: $contentWidth;
      }
      div {
        width: 100%;
        height: 40px;
        position: relative;
        display: flex;
        margin-top: 60px;
        margin-bottom: 120px;
        span {
          width: 100%;
          font-size: 32px;
          font-weight: bold;
          text-align: center;
        }
        i {
          position: absolute;
          right: 30px;
          font-size: 40px;
        }
      }
    }
    .about {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 120px;
      div:nth-child(1) {
        position: relative;
        width: 100%;
        p {
          &::before {
            content: "About";
            margin-right: 64px;
            font-size: 24px;
          }
          font-size: 36px;
          line-height: 48px;
          text-align: justify;
          margin-bottom: 15px;
        }
      }
      div:nth-child(2) {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        i {
          padding-right: 12px;
          transition: margin-right 0.15s linear;
          &:hover {
            margin-right: 5px;
          }
        }
        span {
          transition: margin-left 0.15s linear;
          &:hover {
            margin-left: 5px;
          }
        }
      }
    }
    article:not(.additional) {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: $articlePaddingTopBottom 0;
      border-top: 0.5px solid rgba(0, 0, 0, 0.3);
      .article-info {
        h3 {
          margin-bottom: 40px;
          font-size: 26px;
        }
        p {
          font-size: 30px;
          line-height: 1.2;
        }
        .article-info__btn {
          position: absolute;
          bottom: 20px;
        }
      }
      .article-img {
        width: 48%;
        img {
          width: 100%;
          height: 320px;
        }
      }
      &:nth-of-type(odd) {
        div:nth-child(1) {
          width: 48%;
          display: flex;
          flex-direction: column;
          .article-info__btn {
            display: flex;
            button {
              @extend %btn;
              margin-right: 10px;
            }
          }
        }
      }
      &:nth-of-type(even) {
        div:nth-child(1) {
          order: 1;
          width: 48%;
          display: flex;
          flex-direction: column;
          .article-info__btn {
            display: flex;
            button {
              @extend %btn;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .additional {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: $articlePaddingTopBottom 0;
      border-top: 0.5px solid rgba(0, 0, 0, 0.3);
      div {
        width: 48%;
        display: flex;
        flex-direction: column;
        h3 {
          font-size: 26px;
          margin-bottom: 30px;
        }
        img {
          width: 100%;
          height: 320px;
          margin-bottom: 20px;
        }
        p {
          font-size: 22px;
          line-height: 1.2;
          margin-bottom: 40px;
        }
        .article-info__btn {
          display: flex;
          flex-direction: row;
          button {
            @extend %btn;
            margin-right: 10px;
          }
        }
      }
    }
    .more-info {
      width: 100%;
      display: flex;
      padding: $articlePaddingTopBottom 0;
      border-top: 0.5px solid rgba(0, 0, 0, 0.3);
      > div {
        h3 {
          font-size: 26px;
          margin-bottom: 40px;
        }
        p {
          font-size: 22px;
          line-height: 1.2;
          margin-bottom: 40px;
        }
        button {
          @extend %btn;
        }
      }
    }
  }
  footer {
    width: 100%;
    height: 310px;
    background-color: #464646;
    color: white;
    .footer-wrapper {
      width: $contentWidth;
      display: flex;
      margin: 0 auto;
      padding-top: 30px;
      .Schwartz {
        width: 50%;
        display: flex;
        flex-direction: column;
        span:nth-child(1) {
          width: 100%;
          font-size: 32px;
          font-weight: bold;
          letter-spacing: -2px;
          margin-bottom: 120px;
        }
        span:nth-child(2) {
          margin-bottom: 8px;
        }
        span:nth-child(3) {
          margin-bottom: 24px;
        }
        span:nth-child(4) {
          line-height: 1.4;
        }
      }
      .Schwartz-media {
        width: 25%;
      }
      .Schwartz-books {
        width: 25%;
        text-align: end;
      }
    }
  }
}
